# Build results
x64/
AutoTSM/x64/
bin/
obj/
Debug/
Release/

# Visual Studio files
*.vcxproj.user
*.suo
*.user
*.ncb
*.opendb
*.opensdf
*.sdf
*.cache
*.ilk
*.log
*.tlog
*.idb
*.pdb
*.ipch
.vs/

# Executables
*.exe
*.dll
*.lib
*.exp

# Others
*.log
*.tmp
*.bak

# Ignore json files only in build folders
x64/**/*.json
AutoTSM/x64/**/*.json

